---
import HomeLayout from "../layouts/HomeLayout.astro";

const res = await fetch("http://localhost:3000/api/posts") // http://localhost:3000/api/posts by default
const posts = await res.json()
---

<!-- comment -->

<HomeLayout title='Astro Blog'>
	<h1>Astro + PayloadCMS 🚀</h1>
	<h2>Blog posts list:</h2>
	<ul>
	  {
		posts.docs.map((post) =>(
		  <li>
			<a href={`posts/${post.slug}`} set:html={post.title} />
		  </li>
	
		))
	  }
	</ul>
  </HomeLayout>